:root {
  --bg-orange: #d3382a;
  --green: #2FD82C;
  --text-dark: #383838;
  --font: 'Roboto', sans-serif;
}

.app-outer-wrapper {
  display: flex;
}

.app--body-wrapper {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  max-height: 100vh;
}

/* css for the header class */
.header--wrapper {
  width: calc(100vw - 250px);
  min-height: 60px;
  background-color: var(--bg-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.header--search {
  height: 35px;
  width: 200px;
  border-radius: 9px;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  position: relative;
  padding-left: 40px;
  font-size: 1.3rem;
}

.header--search-wrapper {
  position: relative;
}

.header--search-wrapper::after {
  content: "\f002";
  font-family: 'FontAwesome';
  position: absolute;
  left: 10px;
  height: 35px;
  display: inline-flex;
  align-items: center;
}

.header--search-position {
  position: relative;
}

div.header--search-answers {
  position: absolute;
  width: 100%;
  background-color: blue;
  display: none;
}

/* CSS FOR SIDEBAR COMPONENT */

.sidebar--outer-wrapper {
  width: 250px;
  height: 100vh;
  background-color: var(--bg-orange);
}

.sidebar--inner-wrapper {
  padding: 15px 15px 0 15px;
  color: var(--text);
  font-family: var(--font);
}

.sidebar-app-title {
  color: white;
  font-size: 2.3rem;
  margin-bottom: 40px;
}

.sidebar--list-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.sidebar--list-title-wrapper > h3 {
  font-size: 1.7rem;
  padding: 10px 0;
  color: white;
  font-family: var(--font);
  font-weight: normal;
}

.sidebar--list-title-wrapper > button {
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  color: rgb(0, 179, 0);
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar--title-wrapper > button:hover {
  font-size: 2rem;
  transition: font-size 100ms ease-in;
}

.sidebar--list-wrapper {
  display: flex;
  flex-direction: column;
  
}

.sidebar--list-wrapper > button {
  font-size: 1.4rem;
  margin-left: 30px;
  padding: 10px 0;
  line-height: .8;
  background-color: transparent;
  border: none;
  text-align: left;
  color: rgb(255, 255, 255);
}

.sidebar--list-wrapper > button:hover {
  text-decoration: underline var(--text-dark);
}

/* CSS FOR THE LIST COMPONENT */

.list--wrapper {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  
  overflow-y: auto;
}

.list--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.list--title > input {
  font-family: var(--font);
  font-size: 3rem;
  background-color: transparent;
  border: none;
  width: 100%;
}
.list--title > input:focus {
  outline: 0;
}

.list--modal {
  position: relative;
}

.list--modal > button {
  background-color: transparent;
  border: none;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 100ms linear;
  border-radius: 40%;
}

.list--modal > button:hover {
  background-color: #e6e6e6;
  transition: background-color 100ms linear;
}

.list--modal-options {
  position: absolute;
  right: 0px;
  width: 200px;
  z-index: 5;
}

.list--modal-options > ul {
  list-style: none;
}

.list--modal-options > ul > li > button {
  width: 100%;
  font-size: 1.5rem;
}

.list---title > button > i {
  font-size: 3rem;
}

.list--task-wrapper {
  width: 250px;
  height: 300px;
  border-radius: 9px;
  background-color: #ffffff;
  position: relative;
  margin: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
}

.list--task-title-wrapper {
  padding: 10px;
}

.list-task-title {
  font-size: 1.6rem;
  font-weight: normal;
  border: none;
  background-color: transparent;
  border-bottom: solid 1px black;
  width: 100%;
  resize: none;
  height: 30px;
}

.list-task-title:focus {
  outline: none;
}

.list--task-desc {
  font-family: var(--font);
  font-size: 1.5rem;
  width: 100%;
  height: 180px;
  border: none;
  margin-top: 10px;
  resize: none;
}

.list--card-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 100px;
}

.list--end {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  color: whitesmoke;
  font-family: var(--font);
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.list--completed {
  background-color: var(--green);
}

.list--incomplete {
  background-color: var(--bg-orange);
}

.list--option-menu {
  position: absolute;
  inset: 50%;
  background-color: transparent;
}

.list--options-btn {
  border: none;
  font-family: var(--font);
  color: whitesmoke;
  padding: 5px 0;
}

.list--new-task-btn {
  background-color: green;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.list--delete-list-btn {
  background-color: var(--bg-orange);
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.list--delete-task-btn {
  position: absolute;
  bottom: 55px;
  right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 100ms linear;
  border: none;
  color: whitesmoke;
  font-family: var(var(--font));
  background-color: var(--bg-orange);
}

.list--task-wrapper:hover > .list--delete-task-btn{
  opacity: 100%;
  transition: opacity 100ms linear;
}

.no-list--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.no-list--wrapper > h4 {
  font-size: 2rem;
  font-family: var(--font);
  
}